<h1>About Us</h1>
<p>
    We believe that it should be dead simple for people to find short term work. <a href="http://workdemanded.com/">WorkDemanded</a>
    is a web service that enables users to find short-term jobs that need to be done nearby. 

We aggregate jobs from marketplaces such as <a href="http://craigslist.org/">Craigslist</a>, <a href="http://taskrabbit.com/">TaskRabbit</a>, and <a href="http://zaarly.com/">Zaarly</a>, among many others. Jobs on WorkDemanded include delivery, driving, event help, garbage removal, handyman work, house chores, office help, modeling, moving, and shopping.
</p>