<h1>Blog</h1>
<p>
	<BR>
    We would love to hear about the experiences of current short-term laborers who are doing work on Craigslist, Gigwalk, TaskRabbit, Zaarly, and others! Reach out at <a href="mailto:ntomaino@gmail.com">ntomaino@gmail.com</a> 
</p>