<h1>Blog</h1>
<p>
	<BR>
    We would love to hear about the experiences of current short-term laborers who are doing work on Craigslist, Gigwalk, TaskRabbit, Zaarly, and others! Send good stories to <a href="mailto:nick@workdemanded.com">nick@workdemanded.com</a> 
</p>