<% if user_signed_in? %>
<h1>You're signed in!</h1>

<% else %>
<div class="center hero-unit">
    <h1>Welcome to WorkDemanded</h1>

    <h2>
      Find short-term money making opportunities nearby
    </h2>

								<div class="row5">
								  	<div class="row">
									<div class="span13">
								    <form method="get" action="/" class="form-inline" >
								 <input name="q" class="span5" type="text"  placeholder="Type of Job" >
								      <input name="loc" class="span5" type="text"  placeholder="Zip Code">
								      <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
								    </form>
								  </div>
								</div>

								<%= link_to "Sign Up", new_user_registration_path, 
								                                class: "btn btn-large btn-primary" %>




</div>

<% end %>