<% if user_signed_in? %>
<h1>You're signed in!</h1>

<% else %>
<div class="center hero-unit">
    <h1>Welcome to WorkDemanded</h1>

    <h2>
      A simple way to find ways to make money in your area.
    </h2>

    <%= link_to "Get to work!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

<% end %>