<% if user_signed_in? %>
<h1>You're signed in!</h1>

<% else %>
<div class="center hero-unit">
    <h1>Find short-term work nearby</h1>
	
<BR><BR>
					<div class="row6">
								  	<div class="row">
									<div class="span13">
								    <form method="get" action="/" class="form-inline" >
								 <input name="q" class="span5" type="text"  placeholder="Type of Job">
								
								      <input name="loc" class="span5" type="text"  placeholder="Zip Code">
								<BR><BR>     
									<a href="http://workdemanded.com/jobs/"> <button type="button" class= "btn btn-primary btn-large">Get to work!</button></a>
							
					
									
								 </form>
								  </div>
								</div>
								<div align= "left">
								<div class='spread'>
								  <div class='twshare left'>
								    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="WorkDemanded">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
								  </div>
								  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="false" width="450" font=""></fb:like>
								</div>

									<html lang="en">
									<head>
									  <meta charset="utf-8" />
									  <title>jQuery UI Autocomplete - Combobox</title>
									  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
									  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
									  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
									  <link rel="stylesheet" href="/resources/demos/style.css" />

</div>
</div>
<% end %>