<% if user_signed_in? %>
<h1>You're signed in!</h1>

<% else %>
<div class="center hero-unit">
    <h1>Find short-term work nearby</h1>

<BR>
								<div class="row6">
								  	<div class="row">
									<div class="span13">
								    <form method="get" action="/" class="form-inline" >
								 <input name="q" class="span5" type="text"  placeholder="Type of Job" >
								      <input name="loc" class="span5" type="text"  placeholder="Zip Code">
								<BR><BR>     
								 <button type="submit" class="btn btn-large btn-primary">Get to work!</a> 
								    </form>
								  </div>
								</div>

								


</div>

<% end %>